a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(45deg, #4568dc, #b06ab3);
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transform: translate(0);
  background-image: linear-gradient(190deg, #2d59eb, #af4fb3);
  padding: 0.7em 2em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  color: white;
}

button:hover {
  border: 1px solid white;
}

#galeria {
  margin-bottom: 10px;
}

img {
  border-radius: 10px;
}